*.xml
__pycache__
*_bak
*.blif
*.eblif
*.metals
*.bsp
*.log
*.out
*.rpt
target/
project/
*.net
*.place
*.post_routing
*.route
*.view
*.globals
submodules/dhls/bin
dot2blif/dots/*/*.s
dot2blif/dots/*/*.lp
dot2blif/dots/*/*.gsol
dot2blif/dots/*/src/*.cpp
dot2blif/dots/*/reports
dot2blif/dots/*/hdl
dot2blif/vpr
eda_scripts/ivus_scripts/rpt/
eda_scripts/verilog/components/elastic_components_out.v
eda_scripts/vhd_files/components/elastic_components_modified_out.vhd
dot2blif/config/test/
eda_scripts/verilog/components/*.v
*.anno.json
hardware_components/lib/*.cfg
hardware_components/generated/*.v
hardware_components/constraints/*.tcl
*.gsol
*.txt
*.lp
*.sol
dot2blif/.bloop/
*.s
hardware_components/.bloop/
dot2blif/FPL22_benchmarks
submodules/gurobi
build/
*.orig
dot2blif/dots/gen/
.bloop
.vscode
